<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/oxm
http://www.springframework.org/schema/oxm/spring-oxm-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="applicationContext-scheduling.xml"/>

	<!-- 注册ConversionService -->
 	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
 	    <property name="converters">
 	       <list>
	 	        <bean class="com.huayutime.communicate.converter.StringToDateConverter">
	 	            <constructor-arg value="yyyy-MM-dd HH:mm:ss"/>
	 	        </bean>
 	        </list>
 	    </property>
 	    <property name="formatters">
 	        <list>
 	        </list>
 	    </property>
 	</bean>

	
	<mvc:annotation-driven conversion-service="conversionService"
		content-negotiation-manager="contentManager" validator="validator">
		<mvc:message-converters>
			<ref bean="fastJsonConverter" />
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg>
					<bean class="java.nio.charset.Charset" factory-method="forName">
						<constructor-arg value="UTF-8"/>
					</bean>
				</constructor-arg>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:interceptors >
		
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">

		</bean>
		
	</mvc:interceptors >
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	

	<!-- i18n -->
	<!-- Saves a locale change using a cookie -->
	<bean id="localeResolver"  class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
	    <property name="defaultLocale" value="zh" />
	    <property name="cookieName" value="appLocaleCookie"></property>
  	</bean>

	<!-- Application Message Bundle -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:i18n" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
</beans>